<%= form_for([gns_etl, :backend, mapping]) do |f| %>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="d-block"><%= t('.source_table') %> <span class="text-danger">*</span></label>
                <select class="form-control selectAllowClear"
                    data-container-css-class="font-weight-semibold"
                    data-placeholder="<%= t('.placeholder_source_table') %>"
                    name="mapping[source_table]"
                >
                    <option></option>
                    <% options = GnsEtl::Mapping::source_tables %>
                    <% options.each do |option| %>
                        <option <%= 'selected' if option[:value] == mapping.source_table %> value="<%= option[:value] %>"><%= option[:text] %></option>
                    <% end %>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="d-block"><%= t('.destination_table') %> <span class="text-danger">*</span></label>
                <select class="form-control selectAllowClear"
                    data-container-css-class="font-weight-semibold"
                    data-placeholder="<%= t('.placeholder_destination_table') %>"
                    name="mapping[destination_table]"
                >
                    <option></option>
                    <% options = GnsEtl::Mapping::destination_tables %>
                    <% options.each do |option| %>
                        <option <%= 'selected' if option[:value] == mapping.destination_table %> value="<%= option[:value] %>"><%= option[:text] %></option>
                    <% end %>
                </select>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="select_source_fields"></div>
        </div>
        <div class="col-md-6">
            <div class="select_destination_fields"></div>
        </div>
    </div>
    
    <div class="form-group">
        <label class="d-block"><%= t('.default_value') %></label>
        <input type="text" class="form-control font-weight-semibold" placeholder="<%= t('.placeholder_default_value') %>"
            name="mapping[default_value]"
            value="<%= mapping.default_value %>"
        >
    </div>
    
    <hr class="mt-0">
    <div class="text-left">
        <button type="submit" class="btn btn-primary"><%= t('save') %></button>
        <button type="button" class="btn btn-light ml-1" data-dismiss="modal"><%= t('cancel') %></button>
    </div>
<% end %>

<% content_for :page_script do %>
    <script>
        // global modal
        var source_fields_box = new ajaxBox(
            $('.select_source_fields'),
            '<%= gns_etl.select_source_fields_backend_mappings_path %>',
            function(box) {
            }
        );
        
        var destination_fields_box = new ajaxBox(
            $('.select_destination_fields'),
            '<%= gns_etl.select_destination_fields_backend_mappings_path %>',
            function(box) {
            }
        );
        
        $(document).ready(function() {
            source_fields_box.load();
            destination_fields_box.load();
            
            $('select[name="mapping[source_table]"]').change(function() {
                var s_table = $('select[name="mapping[source_table]"]').select2('val')
                source_fields_box.url = '<%= gns_etl.select_source_fields_backend_mappings_path %>?s_table=' + s_table
                source_fields_box.load();
            });
            
            $('select[name="mapping[destination_table]"]').change(function() {
                var d_table = $('select[name="mapping[destination_table]"]').select2('val')
                destination_fields_box.url = '<%= gns_etl.select_destination_fields_backend_mappings_path %>?d_table=' + d_table
                destination_fields_box.load();
            });
        });
    </script>
<% end %>