<!-- Main sidebar -->
<div class="sidebar sidebar-dark sidebar-main sidebar-fixed sidebar-expand-md">

    <!-- Sidebar mobile toggler -->
    <div class="sidebar-mobile-toggler text-center">
        <a href="#" class="sidebar-mobile-main-toggle">
            <i class="icon-arrow-left8"></i>
        </a>
        <%= t(".navigation") %>
        <a href="#" class="sidebar-mobile-expand">
            <i class="icon-screen-full"></i>
            <i class="icon-screen-normal"></i>
        </a>
    </div>
    <!-- /sidebar mobile toggler -->


    <!-- Sidebar content -->
    <div class="sidebar-content">

        <!-- User menu -->
        <div class="sidebar-user">
            <div class="card-body">
                <div class="media">
                    <div class="mr-3">
                        <img src="<%= current_user.avatar.present? ? current_user.avatar.system : url_for("/gns_ux/assets/backend/global/images/placeholders/placeholder.jpg") %>"
                            width="38" height="38" class="rounded-circle" alt="">
                        </a>
                    </div>

                    <div class="media-body">
                        <div class="media-title font-weight-semibold"><%= current_user.name %></div>
                        <div class="font-size-xs opacity-50">
                            <%= current_user.email %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /user menu -->


        <!-- Main navigation -->
        <div class="card card-sidebar-mobile">
            <ul class="nav nav-sidebar" data-nav-type="accordion">

                <!-- Main -->
                <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs"><%= t(".main_menu") %></div> <i class="icon-menu" title="Main"></i></li>

                <!-- Advanced -->
                <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs"><%= t(".advanced") %></div> <i class="icon-menu" title="Forms"></i></li>
                <li class="nav-item nav-item-submenu">
                    <a href="#" class="nav-link"
                        data-menu="
                            gns_etl/backend/data_transfers,
                            gns_etl/backend/mappings
                        "
                    ><i class="icon-database4"></i> <span><%= 'DB.System' %></span></a>
                    <ul class="nav nav-group-sub" data-submenu-title="DB.System">
                        <li class="nav-item">
                            <a href="<%= gns_etl.backend_data_transfers_path %>" class="nav-link"
                                data-menu="
                                    gns_etl/backend/data_transfers
                                "
                            >
                                Schedules
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="<%= gns_etl.backend_mappings_path %>" class="nav-link"
                                data-menu="
                                    gns_etl/backend/mappings
                                "
                            >
                                Mapping Infomation
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- /main navigation -->

    </div>
    <!-- /sidebar content -->
    
</div>
<!-- /main sidebar -->