<% content_for :title do %>
    Data Transfers
<% end %>

<% content_for :breadcrumb do %>
    <a href="<%= gns_core.root_path %>" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
    <span class="breadcrumb-item active">Data Transfers</span>
<% end %>

<% content_for :page_title do %>
    <h4><i class="icon-users mr-2"></i> <span class="font-weight-semibold">Data Transfer</span></h4>
<% end %>

<% content_for :page_toolbar do %>
    <a class="btn btn-primary add-schedule-button" href="<%= gns_etl.new_backend_schedule_path %>">
        <b><i class="icon-plus22"></i></b>New Schedule
    </a>
<% end %>

<!-- Datatable -->
<div class="card datalist datalist-schedules"
    data-url="<%= gns_etl.list_backend_schedules_path %>"
>
    <div class="card-header header-elements-inline">
        <h3 class="card-title"><%= 'Schedules' %></h3>
        
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>
    
    <form class="datalist-filters">
        <div class="card-body">
            <div class="datalist-header flex space-between">
                <div class="keyword-search mr-2">
                    <input class="form-control keyword-input" name="keyword" type="search" placeholder="<%= t('keyword_search') %>">
                </div>
                <div class="text-right text-nowrap flex">
                    <div class="sort-by-box flex align-center mr-3">
                        <span class="mr-1"><%= t('sort_by') %>:</span>
                        <select name="sort_by" data-placeholder="<%= t('sort_by') %>" class="form-control selectPrimary sort-by-select">
                            <option value="created_at">CreatedDate</option>
                            <option value="start_time">StartDate</option>
                            <option value="end_time">EndDate</option>
                        </select>
                        <input class="sort-direction" type="hidden" name="sort_direction" value="desc" />
                    </div>
                    <div class="show-per-page flex align-center">
                        <span class="mr-1"><%= t('per_page') %>:</span>
                        <select name="per_page" class="form-control selectPrimary per-page-select">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="datalist-content">
            
        </div>
    </form>
</div>

<% content_for :page_script do %>
    <script>
        // global modal
        var schedule_modal = new gModal({size: 'sm'});
        var newScheduleCallback;
        var updateScheduleCallback;
        
        var start_schedule_modal = new gModal({size: 'sm'});
        var start_schedule_callback;
        
        var extract_modal = new gModal({size: 'sm'});
        var extract_callback;
        
        var transfer_modal = new gModal({size: 'sm'});
        var transfer_callback;
        
        $(function() {            
            $('.add-schedule-button').click(function(e) {
                e.preventDefault();
                var button = $(this);
                
                schedule_modal.load(button.attr('href'));
                
                newScheduleCallback = function(response) {
                    if (typeof(response.status) !== 'undefined') {
                        showNotification(response.status, response.message);
                        // hide modal
                        schedule_modal.hide();
                        
                        datalists[$('.datalist-schedules').attr('data-id')].refresh();
                    } else if (typeof(response.redirect) !== 'undefined') {
                        window.location = response.redirect;
                    } else {
                        // validation error
                        schedule_modal.renderHtml(response);
                    }
                };
            });
            
            $(document).on('click', '.edit-schedule-button', function(e) {
                e.preventDefault();
                
                var but = $(this);
                
                // load modal edit
                schedule_modal.load(but.attr('href'));
                
                // after update event
                updateScheduleCallback = function(response) {
                    if (typeof(response.status) !== 'undefined') {
                        showNotification(response.status, response.message);
                        // hide modal
                        schedule_modal.hide();
                        
                        datalists[but.closest('.datalist').attr('data-id')].refresh();
                    } else if (typeof(response.redirect) !== 'undefined') {
                        window.location = response.redirect;
                    } else {
                        // validation error
                        schedule_modal.renderHtml(response);
                    }           
                }
                    
            });
            
            $(document).on('click', '.start-schedule-button', function(e) {
                e.preventDefault();
                
                start_schedule_modal.load($(this).attr('href'));
                
                start_schedule_callback = function() {
                    datalists[$('.datalist-schedules').attr('data-id')].refresh();
                };
            });
            
            $(document).on('click', '.extract-data-button', function(e) {
                e.preventDefault();
                
                extract_modal.load($(this).attr('href'));
                
                extract_callback = function() {
                    datalists[$('.datalist-schedules').attr('data-id')].refresh();
                };
            });
            
            $(document).on('click', '.transfer-data-button', function(e) {
                e.preventDefault();
                
                transfer_modal.load($(this).attr('href'));
                
                transfer_callback = function() {
                    datalists[$('.datalist-schedules').attr('data-id')].refresh();
                };
            });
        });
    </script>
<% end %>