<table class="table table-hover">
    <thead>
        <tr>
            <th>#ID</th>
            <th>Name</th>
            <th>Start</th>
            <th>End</th>
            <th>Status</th>
            <th>Comment</th>
            <th class="text-right">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @schedules.each do |schedule| %>
            <tr>
                <td>#<%= schedule.id %></td>
                <td><%= schedule.name %></td>
                <td><%= schedule.start_time.strftime('%d/%m/%Y - %H:%M:%S') if schedule.start_time.present? %></td>
                <td><%= schedule.end_time.strftime('%d/%m/%Y - %H:%M:%S') if schedule.end_time.present? %></td>
                <td>
                    <% if schedule.status == GnsEtl::Schedule::STATUS_NEW %>
                        <label class="badge badge-primary">New</label>
                    <% elsif schedule.status == GnsEtl::Schedule::STATUS_COPYING %> 
                        <label class="badge badge-info">Copying</label>
                    <% elsif schedule.status == GnsEtl::Schedule::STATUS_COPIED %>
                        <label class="badge badge-success">Copied</label>
                    <% elsif schedule.status == GnsEtl::Schedule::STATUS_TRANSFERRING %> 
                        <label class="badge badge-info">Transferring</label>
                    <% elsif schedule.status == GnsEtl::Schedule::STATUS_TRANSFERRED %>
                        <label class="badge badge-success">Transferred</label>
                    <% elsif schedule.status == GnsEtl::Schedule::STATUS_CANCELED %>
                        <label class="badge badge-danger">Canceled</label>
                    <% elsif schedule.status == GnsEtl::Schedule::STATUS_FAILED %>
                        <label class="badge badge-warning">Not Started</label>
                    <% end %>
                </td>
                <td><%= schedule.comment %></td>
                <td class="text-right">
                    <div class="list-icons">
                        <div class="dropdown">
                            <a href="#" class="list-icons-item" data-toggle="dropdown">
                                <i class="icon-menu9"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <% if schedule.status == GnsEtl::Schedule::STATUS_NEW %>
                                    <a class="dropdown-item extract-data-button"
                                        href="<%= gns_etl.extract_backend_schedules_path(id: schedule) %>">
                                        <i class="icon-copy4"></i> Extract
                                    </a>
                                <% end %>
                                <% if schedule.status == GnsEtl::Schedule::STATUS_COPIED %>
                                    <a class="dropdown-item transfer-data-button"
                                        href="<%= gns_etl.transfer_backend_schedules_path(id: schedule) %>">
                                        <i class="icon-loop4"></i> Load/Transfer
                                    </a>
                                <% end %>
                                <% if schedule.status != GnsEtl::Schedule::STATUS_NEW %>
                                    <a class="dropdown-item start-schedule-button"
                                        href="<%= gns_etl.logs_backend_schedules_path(schedule) %>">
                                        <i class="icon-history"></i> View Logs
                                    </a>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>